NODE_ENV=

PORT=

DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_DIALECT=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
EMAIL_TOKEN_SECRET=
COOKIE_SECRET=
GOOGLE_CLIENT_ID=
OTP_SECRET_KEY=

EMAIL_USER=
EMAIL_PASSWORD=