@import "tailwindcss";

.container {
    width: 100%;
    max-width: 1200px; /* Adjust based on your design */
    margin:0 auto; /* Centers the container */
    padding: 0 15px; /* Adds some padding */
  }
  
.container-fluid {
    width: 100%;
    padding: 0 15px;
}

.skeleton {
    border-radius: 50%;
    background-color: rgb(224, 224, 224,1.0);
    animation: skeleton-loading 2s infinite linear alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: rgb(194, 190, 190);
    }

    100% {
        background-color: rgba(224, 224, 224, 0.2);
    }
}

  /* Prevent horizontal overflow on mobile */
html, body, #root {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Responsive Breakpoints */
@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Hover Effect */
button[type='submit']:hover {
    background-color: rgb(219, 68, 68, 0.4);
}

/* Disabled State */
button[type='submit']:disabled {
    background-color: rgb(219, 68, 68, 0.4);
    cursor: not-allowed;
}
  
/* Add a spinning loader */
button[type='submit'] svg {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.75rem;
    color: white;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}


.loading {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
.loading circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
@keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
}
   
@keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
}
   