@import "tailwindcss";

.container {
    width: 100%;
    max-width: 1200px; /* Adjust based on your design */
    margin:0 auto; /* Centers the container */
    padding: 0 15px; /* Adds some padding */
  }
  
.container-fluid {
    width: 100%;
    padding: 0 15px;
}

.skeleton {
    border-radius: 50%;
    background-color: rgb(224, 224, 224,1.0);
    animation: skeleton-loading 2s infinite linear alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: rgb(194, 190, 190);
    }

    100% {
        background-color: rgba(224, 224, 224, 0.2);
    }
}

/* Responsive Breakpoints */
@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
